<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
	<encoder>
      <pattern>%-5level[%d{HH:mm:ss.SSS}][%-25file:%4line]-%m%n</pattern>
    </encoder>
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>TRACE</level>
    </filter>
  </appender>
  
  <!-- <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%d{HH:mm} %-5level %logger{36} - %msg%n</Pattern>
        </layout>
  </appender> -->
    
  <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <File>./log/wisemobileMonitor.log</File>
    <encoder>
      <pattern>%-5level[%d{HH:mm:ss.SSS}][%-25file:%6line]-%m%n</pattern>
    </encoder>
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>TRACE</level>
    </filter>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>./log/wisemobileMonitor.log.%d{yyyy-MM-dd}.zip</fileNamePattern>
      <maxHistory>90</maxHistory>
    </rollingPolicy>
  </appender>
  
  <!-- <appender name="trace" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <File>./logs/trace.log</File>
    <encoder>
      <pattern>[%d{HH:mm:ss.SSS}] %m%n</pattern>
    </encoder>
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>TRACE</level>
    </filter>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>./logs/Trace.log.%d{yyyy-MM-dd}.zip</fileNamePattern>
    </rollingPolicy>
  </appender> -->
  
  <logger name="Main" level="TRACE">
    <appender-ref ref="console"/>
    <appender-ref ref="file"/>
  </logger>
  
  <!-- <logger name="Trace" level="TRACE">
    <appender-ref ref="trace" />
  </logger> -->
  
</configuration>